<h1>{{#if noTachanun}}No Tachanun today!{{else}}There is Tachanun today.{{/if}}</h1>
<p>Today's Gregorian Date: {{date}}</p>
<p>Today's Hebrew Date: {{hebrewDate}} / {{hebrewDateHebrew}}</p>
{{#if noTachanun}}
<p>No tachnun today because {{hebrewDate}} is {{reason}}.</p>
{{/if}}

<p>Pick another date:</p>
<form method="get" action="/">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <input type="date" class="form-control" required name="date" value="{{datePlaceholder}}">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Go!</button>
        </div>
    </div>
</form>